[Unit]
Description=Bitcoin's distributed currency daemon
After=network.target

[Service]
User=bitcoin
Group=bitcoin

Type=forking
PIDFile=/var/lib/gcoind/gcoind.pid
ExecStart=/usr/bin/gcoind -daemon -pid=/var/lib/gcoind/gcoind.pid \
-conf=/etc/bitcoin/bitcoin.conf -datadir=/var/lib/gcoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
